aiohttp
async-timeout
asyncio
attrs
certifi
cffi
chardet
DateTime
discord
discord.py
geojson
idna
install
json-get
multidict
Pillow
pip
pycparser
PyNaCl
pyowm
PySocks
pytz
random2
requests
setuptools
six
SpeechRecognition
sr
typing-extensions
urllib3
yarl
youtube-dl
zope.interface